body{
	margin: 0;
	width: 100%
}
.root{
	width: 100%;
}
.wallpaper{
	height: 210px;
	position: relative;
	z-index: -1;
	width: 100%;
}
.mine{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	align-item:center;
	float: right;
	z-index: 1000;
	margin-top: -64px;
	margin-right: 12px;
}
.mine p{
	font-size: 16px;
	color: #ffffff;
	text-shadow:1px 1px 1px rgba(000,000,000,0.7);
	margin-right: 12px; 
}
.mine img{
	height: 48px;
	width: 48px;
	border: 1px solid #fff;
	border-radius: 4px;
}
.headPortrait{
	height: 40px;
	width: 40px;
	margin: 16px 0 0 16px; 
}
.image{
	height: 172px;
	width: 172px;
	margin: 8px 0 12px;
}
.time{
	font-size: 12px;
	color: #acb187;
}
.friendName{
	font-size: 15px;
	color: #41454d;
	font-weight: bold;
	margin-bottom: 2px;
}
.detail{
	font-size: 14px;
	color: #41454d;
}
.review{
	list-style: none;
	padding-left: 0;
}
.review li{
	font-size: 14px;
	color: #41454d;
	margin: 4px;
}
.review li span{
	font-size: 14px;
	color: #5bafff;
}
.packup{
	font-size: 12px;
	color: #acb187;
	display: flex;
	flex-direction: row;
	align-item:center;
}
.packup i{
	line-height: 34px;
}
.content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid #eee;
}
.particular{
	width: 70%;
	margin-left: 8px;
}
.reply{
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.reply li{
	font-size: 12px;
	color: #80858c;
	display: inline-flex;
	margin-right: 20px;
}
.reply li i{
	font-size: 17px;
	margin-right: 4px;
}
.link{
	height: 52px;
	margin: 8px 16px 8px 0;
	background: #f7f7f7;
	display: flex;
	flex-direction: row;
	align-item:center;
}
.linkImg{
	width: 40px;
	height: 40px;
	margin: 6px;
}
.link span{
	font-size: 13px;
	color: #41454d;
	line-height: 53px;
}
